@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #0b1c2b, #0c3d37);
}

.dashboard {
  min-height: 100vh;
  max-width: 1500px;
  margin: 25px auto;
  padding: 0 12px;
}



/* --- circles/dots  --- */
.green_dot {
  width: 7px;
  height: 7px;
  background-color: #1dae5f;
  border-radius: 50%;
  margin-right: 8px;
}

.red_dot {
  width: 7px;
  height: 7px;
  background-color: #ea1919;
  border-radius: 50%;
  margin-right: 8px;
}

.yellow_dot {
  width: 7px;
  height: 7px;
  background-color: #ebe322;
  border-radius: 50%;
  margin-right: 8px;
}

/* --- navbar --- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  & span {
    width: 8px;
    height: 8px;
    background-color: #1dae5f;
    border-radius: 50%;
  }

  & img {
    width: 40px;
  }

  & h1 {
    font-size: 26px;
    color: #fefefe;
  }

  & button {
    margin-left: auto;
    border: none;
    outline: none;
    background-color: transparent;
    color: #111;
    background-color: #fefefe;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  nav h1 {
    font-size: 22px;
  } 
}

/* --- cards sections --- */
.top-cards,
.bottom-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

/* --- top cards --- */
.card {
  min-width: 475px;
  width: 450px;
  max-width: 100%;
  background-color: #111522;
  padding: 12px;
  border-radius: 6px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  cursor: grab;
}

.card .top-card-section {
  display: flex;
  align-items: center;
}

.card .drop-icon {
  margin-left: auto;
}

.card h2 {
  color: #fefefe;
  font-size: 18px;
}

.card i {
  cursor: pointer;
  color: #868686;
  height: fit-content;
  margin: 0 5px;

  &:hover {
    color: #e4dbdb;
  }
}

.card .resize-icons {
  display: flex;
  justify-content: space-between;
  margin-top: auto; 
  padding-top: 12px;
}

/* --- bottom cards --- */
.bottom-cards .card {
  width: 600px;
}

@media only screen and (max-width: 600px) {
  .card {
    min-width: 300px;
    width: 99%;
  }
  .bottom-cards .card {
    width: 99%;
  }
}

@media only screen and (max-width: 320px) {
  .card {
    min-width: 275px;
  }
}


/* --- dropdown menu card --- */
.dropdown-menu-card {
  display: none;
}

.dropdown-menu-card button {
  color: #fefefe;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 20px;
}

.dropdown-menu-card button:hover {
  border: none;
  cursor: pointer;
  color: #1dae5f;
}

.dropdown-menu-card button:last-child {
  border-radius: 0 0 6px 6px;
}

.show-dropdown-menu-card {
  display: flex;
  flex-direction: column;
  background-color: #111522;
  box-shadow: 0 0 3px #cccccc7e;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 36px;
  right: 26px;

  & p {
    color: #1dae5f; 
    font-weight: bold;
    border-bottom: 1px solid #fefefe2d;
    text-align: center;
    padding: 6px 0;
  }
}

.dropdown-btn.active {
  color: #1dae5f; 
}

/* --- drop drag effect --- */
.dragging {
  opacity: 0.5;
}

.drag-over {
  border: 2px dashed #000;
}
