@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #0b1c2b, #0c3d37);
}

.dashboard {
  min-height: 100vh;
  max-width: 1500px;
  margin: 25px auto;
  padding: 0 12px;
}

/* --- circles/dots  --- */
.green_dot {
  width: 7px;
  height: 7px;
  background-color: #1dae5f;
  transform: translateY(9px);
  border-radius: 50%;
  margin-right: 8px;
}

.red_dot {
  width: 7px;
  height: 7px;
  background-color: #ea1919;
  transform: translateY(9px);
  border-radius: 50%;
  margin-right: 8px;
}

.yellow_dot {
  width: 7px;
  height: 7px;
  background-color: #ebe322;
  transform: translateY(9px);
  border-radius: 50%;
  margin-right: 8px;
}

/* --- navbar --- */
nav {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  & span {
    width: 10px;
    height: 10px;
    background-color: #1dae5f;
    border-radius: 50%;
    margin-right: 6px;
  }

  & img {
    width: 40px;
  }

  & h1 {
    font-size: 26px;
    color: #fefefe;
  }
}

.dropdown {
  margin-left: auto;
}

.dropbtn {
  background-color: #32393a;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #47474e;
  }
  & i {
    color: white;
    margin-right: 6px;
  }
}

.dropbtn:first-child {
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 600px) {
  nav h1 {
    font-size: 22px;
    margin-right: 6px;
  }

  .dropbtn {
    font-size: 12px;

    & i {
      margin-right: 4px;
    }
  }
}

/* --- cards sections --- */
.top-cards,
.bottom-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

/* --- top cards --- */
.card {
  display: flex;
  align-items: start;
  min-width: 400px;
  min-height: 300px;
  max-height: 500px;
  padding: 10px;
  border-radius: 6px;
  background-color: #111522;
  resize: both;
  overflow: auto;
  position: relative;
  cursor: grab;

  & h2 {
    color: #fefefe;
    font-size: 18px;
  }

  & i {
    flex-direction: flex-end;
    cursor: pointer;
    margin-left: auto;
    color: #868686;
    height: fit-content;

    &:hover {
      color: #e4dbdb;
    }
  }
}

/* --- bottom cards --- */
.card1 {
  display: flex;
  min-width: 800px;
  min-height: 500px;
  max-height: 700px;
  padding: 10px;
  border-radius: 6px;
  background-color: #111522;
  resize: both;
  overflow: auto;
  position: relative;
  cursor: grab;
}

& .card2 {
  display: flex;
  min-width: 500px;
  min-height: 300px;
  max-height: 600px;
  padding: 10px;
  border-radius: 6px;
  background-color: #111522;
  resize: both;
  overflow: auto;
  position: relative;
  cursor: grab;
}

.col-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 1080px) {
  .bottom-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card1 {
    min-width: 90%;
  }

  .card2 {
    min-width: 90%;
  }
}

.dropdown-menu-card {
  display: none;
}

.dropdown-menu-card button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 20px;
}

.dropdown-menu-card button:hover {
  border: none;
  cursor: pointer;
  background-color: #c9c9c9;
}

.dropdown-menu-card button:last-child {
  border-radius: 0 0 6px 6px;
}

.show-dropdown-menu-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 20px;

  & p {
    color: #1dae5f;
    font-weight: bold;
    border-bottom: 1px solid #0000002c;
    text-align: center;
    padding: 6px 0;
  }
}

.dragging {
  opacity: 0.5;
}

.drag-over {
  border: 2px dashed #000;
}
